
@font-face {
    font-family: 'Aquire';
    src: url('./fonts/Aquire/aquire_bold_700-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway'), url('./fonts/Raleway/Raleway-Regular.woff') format('woff');
    }


/* landing */
body {
    background-color: rgb(4, 0, 61);
position: relative;
background-image: url(images/backgroundimg2.jpeg);
background-size: cover;
background-position: bottom ;
/* background: #0A0A0A; */
color: white;
height: 100vh;
}
a {
    text-decoration: none;
    color: white;
}

.wrapper {
    display: flex;
}

.containerLeft {
    margin: 69px 79px 10px 69px;
}


.logoText {
    font-family: 'Aquire';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
}

.headerTitle {
    font-family: 'Aquire';
    font-style: normal;
    font-weight: bold;
    font-size: 56.01px;
    line-height: 55px;
    margin-top: 100px;
    color: #FFFFFF;
}

.headerText {
    margin-left: 3px;
    margin-top: 15px;
font-family: 'Raleway';
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
width: 70%;
}

/* Auto layout */
.containerMedia {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    margin-top: 50px;
    margin-left: 156px;
display: flex;
flex-direction: column;
justify-content: center;
padding: 0px;
}

.media {
margin-top: 27px;
  max-width: 21vw;
  text-align: center;
  padding: 20px;
  background-color: rgb(0, 0, 0, 0.3);
}
.media:hover {
    background-color: rgb(0, 0, 0, 0.5);
    transition: all 0.2s;
}

.border-gradient {
    position: relative;
}
.border-gradient::before {
    pointer-events: none;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px; /*1*/
    border:3px solid transparent; /*2*/
    background:linear-gradient(45deg,rgba(0, 255, 128, 0.616), rgba(255, 208, 0, 0.856)) border-box; /*3*/
    -webkit-mask: /*4*/
       linear-gradient(#fff 0 0) padding-box, 
       linear-gradient(#fff 0 0);
       mask: /*4*/
       linear-gradient(#fff 0 0) padding-box, 
       linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor; /*5'*/
            mask-composite: exclude; /*5*/
  }

  .footer {
      padding-left: 50px;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    align-items: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}



@media only screen and (max-width: 1149px) {
    .containerMedia {
        margin: 0 auto;
    }
    .media {
        background-color: rgb(0, 0, 0, 0.6);
        margin-right: auto;
        margin-left: auto;
    }
    .headerText {
        width: 100%;
    }
    .media {
        width: 100%;
        max-width: 60%;
    }
    .containerLeft {
        margin: 20px auto;
        text-align: center;
    }
    header {
        text-align: center;
    }
  }
